[Desktop Entry]
Type=Application
Name=Orme
GenericName=Orme educativi
Comment=Raccolta di giochi touch per bambini di 3-5 anni
Exec=Orme
Icon=orme
Terminal=false
Categories=Game;KidsGame;Education;
