[Desktop Entry]
Type=Application
Name=Orme
GenericName=Giochi educativi
Comment=Raccolta di giochi touch per bambini di 3-5 anni
Exec=Orme
Icon=applications-games
Terminal=false
Categories=Game;KidsGame;Education;
